body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1627px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:68px;
  background:inherit;
  background-color:rgba(64, 71, 107, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:1471px;
  height:68px;
}
#u4874_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:44px;
}
#u4875 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:215px;
  height:44px;
}
#u4875_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:68px;
  background:inherit;
  background-color:rgba(64, 71, 107, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:1471px;
  height:68px;
}
#u4878_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:44px;
}
#u4879 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:221px;
  height:44px;
}
#u4879_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:37px;
  background:inherit;
  background-color:rgba(64, 71, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#FFFFFF;
  text-align:left;
}
#u4880 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:18px;
  width:188px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#FFFFFF;
  text-align:left;
}
#u4880_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:184px;
  word-wrap:break-word;
}
#u4881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u4883 {
  border-width:0px;
  position:absolute;
  left:1270px;
  top:28px;
  width:20px;
  height:16px;
  color:#FFFFFF;
}
#u4883_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:5px;
}
#u4884 {
  border-width:0px;
  position:absolute;
  left:1276px;
  top:43px;
  width:10px;
  height:5px;
  color:#FFFFFF;
}
#u4884_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u4886 {
  border-width:0px;
  position:absolute;
  left:1320px;
  top:26px;
  width:26px;
  height:23px;
}
#u4886_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:11px;
}
#u4887 {
  border-width:0px;
  position:absolute;
  left:1326px;
  top:32px;
  width:12px;
  height:11px;
}
#u4887_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:7px;
}
#u4888 {
  border-width:0px;
  position:absolute;
  left:1325px;
  top:43px;
  width:16px;
  height:7px;
}
#u4888_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u4889 {
  border-width:0px;
  position:absolute;
  left:1329px;
  top:43px;
  width:6px;
  height:4px;
}
#u4889_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u4890 {
  border-width:0px;
  position:absolute;
  left:1329px;
  top:44px;
  width:6px;
  height:4px;
}
#u4890_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:6px;
}
#u4891 {
  border-width:0px;
  position:absolute;
  left:1331px;
  top:32px;
  width:7px;
  height:6px;
}
#u4891_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u4892 {
  border-width:0px;
  position:absolute;
  left:1326px;
  top:32px;
  width:6px;
  height:6px;
}
#u4892_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u4893 {
  border-width:0px;
  position:absolute;
  left:1356px;
  top:26px;
  width:106px;
  height:24px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u4893_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:106px;
  word-wrap:break-word;
}
#u4894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4894 {
  border-width:0px;
  position:absolute;
  left:1282px;
  top:19px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u4894_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
#u4895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:729px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:1471px;
  height:729px;
}
#u4895_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4897 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:729px;
  width:20px;
  height:20px;
}
#u4897_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4898 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:729px;
  width:20px;
  height:20px;
}
#u4898_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4899 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:729px;
  width:20px;
  height:20px;
}
#u4899_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4900 {
  border-width:0px;
  position:absolute;
  left:1526px;
  top:259px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u4900_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u4901 {
  border-width:0px;
  position:absolute;
  left:1546px;
  top:259px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u4901_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-23px;
  width:8px;
  height:23px;
}
#u4901_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-23px;
  width:86px;
  height:8px;
}
#u4901_seg2 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-23px;
  width:8px;
  height:23px;
}
#u4901_seg3 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-8px;
  width:8px;
  height:8px;
}
#u4901_seg4 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-8px;
  width:8px;
  height:13px;
}
#u4901_seg5 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u4901_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:134px;
}
#u4902 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:165px;
  width:205px;
  height:134px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u4902_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:201px;
  word-wrap:break-word;
}
#u4903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:134px;
}
#u4903 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:165px;
  width:205px;
  height:134px;
  font-size:20px;
  color:#000000;
}
#u4903_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:201px;
  word-wrap:break-word;
}
#u4904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:134px;
}
#u4904 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:165px;
  width:205px;
  height:134px;
  font-family:'.PingFangSC-Regular', '.PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u4904_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:201px;
  word-wrap:break-word;
}
#u4905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:134px;
}
#u4905 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:165px;
  width:205px;
  height:134px;
  font-family:'.PingFangSC-Regular', '.PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u4905_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:201px;
  word-wrap:break-word;
}
#u4906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:134px;
}
#u4906 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:377px;
  width:205px;
  height:134px;
  font-family:'.PingFangSC-Regular', '.PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u4906_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:201px;
  word-wrap:break-word;
}
#u4907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:134px;
}
#u4907 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:377px;
  width:205px;
  height:134px;
  font-family:'.PingFangSC-Regular', '.PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u4907_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:201px;
  word-wrap:break-word;
}
#u4908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:134px;
}
#u4908 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:377px;
  width:205px;
  height:134px;
  font-family:'.PingFangSC-Regular', '.PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u4908_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:201px;
  word-wrap:break-word;
}
#u4909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:134px;
}
#u4909 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:377px;
  width:205px;
  height:134px;
  font-family:'.PingFangSC-Regular', '.PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u4909_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:201px;
  word-wrap:break-word;
}
#u4910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:134px;
}
#u4910 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:579px;
  width:205px;
  height:134px;
  font-family:'.PingFangSC-Regular', '.PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u4910_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:201px;
  word-wrap:break-word;
}
#u4911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:134px;
}
#u4911 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:579px;
  width:205px;
  height:134px;
  font-size:20px;
  color:#000000;
}
#u4911_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:201px;
  word-wrap:break-word;
}
#u4912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:134px;
}
#u4912 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:585px;
  width:205px;
  height:134px;
  font-family:'.PingFangSC-Regular', '.PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u4912_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:201px;
  word-wrap:break-word;
}
#u4913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:134px;
}
#u4913 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:585px;
  width:205px;
  height:134px;
  font-family:'.PingFangSC-Regular', '.PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u4913_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:201px;
  word-wrap:break-word;
}
