body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1471px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:68px;
  background:inherit;
  background-color:rgba(64, 71, 107, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7346 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:1471px;
  height:68px;
}
#u7346_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:44px;
}
#u7347 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:13px;
  width:221px;
  height:44px;
}
#u7347_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:37px;
  background:inherit;
  background-color:rgba(64, 71, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#FFFFFF;
  text-align:left;
}
#u7348 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:16px;
  width:188px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#FFFFFF;
  text-align:left;
}
#u7348_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:184px;
  word-wrap:break-word;
}
#u7349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:767px;
}
#u7349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:1471px;
  height:767px;
}
#u7349_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
