body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:766px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:298px;
}
#u4862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:298px;
}
#u4862_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(8, 14, 45, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4863 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:0px;
  width:93px;
  height:22px;
}
#u4863_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
