body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1217px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1392px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1943 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:1200px;
  height:1392px;
}
#u1943_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u1944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:48px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u1944_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:1178px;
  word-wrap:break-word;
}
#u1945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:28px;
}
#u1945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:129px;
  height:60px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:28px;
}
#u1945_text {
  border-width:0px;
  position:absolute;
  left:64px;
  top:16px;
  width:65px;
  white-space:nowrap;
}
#u1946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
  line-height:22px;
}
#u1947 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:128px;
  width:90px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
  line-height:22px;
}
#u1947_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:90px;
  white-space:nowrap;
}
#u1948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
  line-height:22px;
}
#u1949 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:128px;
  width:300px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
  line-height:22px;
}
#u1949_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
  line-height:22px;
}
#u1949.selected {
}
#u1949_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:5px;
  width:292px;
  word-wrap:break-word;
}
#u1950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1950 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:160px;
  width:300px;
  height:24px;
}
#u1950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#282828;
  text-align:right;
  line-height:22px;
}
#u1952 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:350px;
  width:66px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#282828;
  text-align:right;
  line-height:22px;
}
#u1952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:66px;
  white-space:nowrap;
}
#u1953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1953 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:450px;
  width:300px;
  height:24px;
}
#u1953_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1954 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1955 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:350px;
  width:100px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u1955_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:96px;
  word-wrap:break-word;
}
#u1956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1956 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:388px;
  width:24px;
  height:24px;
}
#u1956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1958 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:350px;
  width:100px;
  height:100px;
}
#u1958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u1959 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:388px;
  width:22px;
  height:24px;
  opacity:0.4;
  font-size:48px;
  color:#989898;
}
#u1959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
  line-height:22px;
}
#u1961 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:128px;
  width:90px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
  line-height:22px;
}
#u1961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:90px;
  white-space:nowrap;
}
#u1962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
  line-height:22px;
}
#u1963 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:128px;
  width:300px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
  line-height:22px;
}
#u1963_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
  line-height:22px;
}
#u1963.selected {
}
#u1963_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:5px;
  width:292px;
  word-wrap:break-word;
}
#u1964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1964 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:160px;
  width:300px;
  height:24px;
}
#u1964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
  line-height:22px;
}
#u1966 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:184px;
  width:90px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
  line-height:22px;
}
#u1966_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:90px;
  white-space:nowrap;
}
#u1967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
  line-height:22px;
}
#u1968 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:184px;
  width:300px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
  line-height:22px;
}
#u1968_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
  line-height:22px;
}
#u1968.selected {
}
#u1968_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:5px;
  width:292px;
  word-wrap:break-word;
}
#u1969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1969 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:216px;
  width:300px;
  height:24px;
}
#u1969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
  line-height:22px;
}
#u1971 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:184px;
  width:90px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
  line-height:22px;
}
#u1971_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:90px;
  white-space:nowrap;
}
#u1972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
  line-height:22px;
}
#u1973 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:184px;
  width:300px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
  line-height:22px;
}
#u1973_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
  line-height:22px;
}
#u1973.selected {
}
#u1973_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:5px;
  width:292px;
  word-wrap:break-word;
}
#u1974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1974 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:216px;
  width:300px;
  height:24px;
}
#u1974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:28px;
}
#u1976 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:494px;
  width:129px;
  height:60px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:28px;
}
#u1976_text {
  border-width:0px;
  position:absolute;
  left:64px;
  top:16px;
  width:65px;
  white-space:nowrap;
}
#u1976_ann {
  border-width:0px;
  position:absolute;
  left:117px;
  top:490px;
  width:1px;
  height:1px;
}
#u1977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#282828;
  text-align:right;
  line-height:22px;
}
#u1978 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:559px;
  width:92px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#282828;
  text-align:right;
  line-height:22px;
}
#u1978_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:92px;
  white-space:nowrap;
}
#u1979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
  line-height:22px;
}
#u1980 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:559px;
  width:300px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
  line-height:22px;
}
#u1980_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
  line-height:22px;
}
#u1980.selected {
}
#u1980_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:5px;
  width:292px;
  word-wrap:break-word;
}
#u1981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u1981 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:571px;
  width:15px;
  height:8px;
}
#u1981_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:422px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1983 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:615px;
  width:400px;
  height:422px;
}
#u1983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
  line-height:22px;
}
#u1985 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:638px;
  width:90px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
  line-height:22px;
}
#u1985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:90px;
  white-space:nowrap;
}
#u1986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
  line-height:22px;
}
#u1987 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:638px;
  width:300px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
  line-height:22px;
}
#u1987_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
  line-height:22px;
}
#u1987.selected {
}
#u1987_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:5px;
  width:292px;
  word-wrap:break-word;
}
#u1988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
  line-height:22px;
}
#u1990 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:694px;
  width:300px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
  line-height:22px;
}
#u1990_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:5px;
  width:292px;
  word-wrap:break-word;
}
#u1991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:3px;
}
#u1991 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:762px;
  width:9px;
  height:3px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
  line-height:22px;
}
#u1992 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:694px;
  width:90px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
  line-height:22px;
}
#u1992_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:90px;
  white-space:nowrap;
}
#u1993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1993 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:774px;
  width:300px;
  height:24px;
}
#u1993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
  line-height:22px;
}
#u1995 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:798px;
  width:90px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
  line-height:22px;
}
#u1995_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:90px;
  white-space:nowrap;
}
#u1996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
  line-height:22px;
}
#u1997 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:798px;
  width:300px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
  line-height:22px;
}
#u1997_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
  line-height:22px;
}
#u1997.selected {
}
#u1997_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:5px;
  width:292px;
  word-wrap:break-word;
}
#u1998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1998 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:830px;
  width:300px;
  height:24px;
}
#u1998_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
  line-height:22px;
}
#u2000 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:854px;
  width:64px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
  line-height:22px;
}
#u2000_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:64px;
  white-space:nowrap;
}
#u2001 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:862px;
  width:100px;
  height:16px;
}
#u2001_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2001_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2002 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:862px;
  width:100px;
  height:16px;
}
#u2002_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2002_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2003 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:862px;
  width:100px;
  height:16px;
}
#u2003_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2003_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2004 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:886px;
  width:300px;
  height:24px;
}
#u2004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
  line-height:22px;
}
#u2006 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:910px;
  width:64px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
  line-height:22px;
}
#u2006_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:64px;
  white-space:nowrap;
}
#u2007 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:918px;
  width:100px;
  height:16px;
}
#u2007_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2007_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2008 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:918px;
  width:100px;
  height:16px;
}
#u2008_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2008_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2009 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:918px;
  width:100px;
  height:16px;
}
#u2009_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2009_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2010 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:942px;
  width:300px;
  height:24px;
}
#u2010_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
  line-height:22px;
}
#u2012 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:966px;
  width:77px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
  line-height:22px;
}
#u2012_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:77px;
  white-space:nowrap;
}
#u2013 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
  line-height:22px;
}
#u2015 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:966px;
  width:300px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
  line-height:22px;
}
#u2015_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
  line-height:22px;
}
#u2015.selected {
}
#u2015_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:5px;
  width:292px;
  word-wrap:break-word;
}
#u2016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:4px;
}
#u2017 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:975px;
  width:10px;
  height:4px;
}
#u2017_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u2018 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:976px;
  width:15px;
  height:13px;
}
#u2018_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2019 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:998px;
  width:300px;
  height:24px;
}
#u2019_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2020 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:14px;
  width:20px;
  height:20px;
}
#u2020_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  background:inherit;
  background-color:rgba(64, 71, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2021 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:9px;
  width:86px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2021_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u2022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2022 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:9px;
  width:68px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2022_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u2023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
  background:inherit;
  background-color:rgba(64, 71, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2023 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:9px;
  width:116px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2023_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u2024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:32px;
}
#u2024 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:184px;
  width:17px;
  height:32px;
}
#u2024_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#282828;
  text-align:right;
  line-height:22px;
}
#u2026 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:238px;
  width:79px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#282828;
  text-align:right;
  line-height:22px;
}
#u2026_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:79px;
  white-space:nowrap;
}
#u2026_ann {
  border-width:0px;
  position:absolute;
  left:158px;
  top:234px;
  width:1px;
  height:1px;
}
#u2027 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:257px;
  width:100px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2027_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2027_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2028 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:257px;
  width:100px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2028_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2028_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2029 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:296px;
  width:300px;
  height:44px;
}
#u2029_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2030 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:257px;
  width:100px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2030_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2030_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:872px;
  height:570px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(216, 216, 216, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 4px rgba(0, 0, 0, 0.349019607843137);
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2033 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:135px;
  width:872px;
  height:570px;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2033_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:49px;
}
#u2035 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:135px;
  width:872px;
  height:48px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2035_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:15px;
  width:840px;
  word-wrap:break-word;
}
#u2036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:2px;
}
#u2037 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:183px;
  width:872px;
  height:1px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2037_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:872px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2038 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:183px;
  width:872px;
  height:14px;
}
#u2038_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2040 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:135px;
  width:30px;
  height:17px;
  overflow:hidden;
}
#u2040_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2040_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u2041 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:152px;
  width:17px;
  height:16px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2041_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:2px;
}
#u2045 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:643px;
  width:872px;
  height:1px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2045_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:872px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2046 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:627px;
  width:872px;
  height:19px;
}
#u2046_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:62px;
}
#u2047 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:644px;
  width:872px;
  height:61px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u2047_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:35px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2049 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:656px;
  width:66px;
  height:35px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2049_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:34px;
  white-space:nowrap;
}
#u2050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:21px;
}
#u2050 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:656px;
  width:66px;
  height:35px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:21px;
}
#u2050_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:34px;
  white-space:nowrap;
}
#u2051 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:664px;
  width:13px;
  height:9px;
  overflow:hidden;
}
#u2051_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2051_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2052 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:686px;
  width:41px;
  height:19px;
  overflow:hidden;
}
#u2052_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2052_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:872px;
  height:460px;
}
#u2053 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:184px;
  width:872px;
  height:460px;
}
#u2053_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:38px;
  height:47px;
}
#u2054 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:360px;
  width:28px;
  height:37px;
}
#u2054_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2055 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:47px;
}
#u2056 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:296px;
  width:251px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
  line-height:18px;
}
#u2056_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:6px;
  width:235px;
  white-space:nowrap;
}
#u2057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u2057 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:340px;
  width:11px;
  height:8px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2057_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
