body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1708px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1708px;
  height:833px;
}
#u3944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1708px;
  height:833px;
}
#u3944_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:38px;
  background:inherit;
  background-color:rgba(6, 30, 58, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#2493B9;
}
#u3945 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:2px;
  width:292px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#2493B9;
}
#u3945_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:288px;
  word-wrap:break-word;
}
#u3946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:762px;
  height:368px;
}
#u3946 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:71px;
  width:762px;
  height:368px;
}
#u3946_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:366px;
}
#u3947 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:71px;
  width:766px;
  height:365px;
}
#u3947_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:337px;
}
#u3948 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:102px;
  width:760px;
  height:337px;
}
#u3948_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:334px;
}
#u3949 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:102px;
  width:766px;
  height:334px;
}
#u3949_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3950 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u3951 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:341px;
  width:45px;
  height:41px;
  font-size:36px;
}
#u3951_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u3952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u3952 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:382px;
  width:45px;
  height:41px;
  font-size:48px;
}
#u3952_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:41px;
  word-wrap:break-word;
}
#u3953 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u3954 {
  border-width:0px;
  position:absolute;
  left:1603px;
  top:341px;
  width:45px;
  height:41px;
  font-size:36px;
}
#u3954_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u3955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u3955 {
  border-width:0px;
  position:absolute;
  left:1603px;
  top:382px;
  width:45px;
  height:41px;
  font-size:48px;
}
#u3955_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:41px;
  word-wrap:break-word;
}
#u3956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:34px;
  background:inherit;
  background-color:rgba(8, 14, 46, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3956 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:484px;
  width:681px;
  height:34px;
}
#u3956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(8, 14, 46, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 146, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1A9FC7;
  text-align:left;
}
#u3958 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:484px;
  width:85px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1A9FC7;
  text-align:left;
}
#u3958_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(47, 191, 173, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 146, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1A9FC7;
  text-align:left;
}
#u3958.selected {
}
#u3958_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:53px;
  white-space:nowrap;
}
#u3959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(8, 14, 46, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 146, 193, 1);
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1A9FC7;
  text-align:left;
}
#u3959 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:484px;
  width:85px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1A9FC7;
  text-align:left;
}
#u3959_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(47, 191, 173, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 146, 193, 1);
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1A9FC7;
  text-align:left;
}
#u3959.selected {
}
#u3959_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:53px;
  white-space:nowrap;
}
#u3960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(8, 14, 46, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 146, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1A9FC7;
  text-align:left;
}
#u3960 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:484px;
  width:85px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1A9FC7;
  text-align:left;
}
#u3960_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(47, 191, 173, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 146, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1A9FC7;
  text-align:left;
}
#u3960.selected {
}
#u3960_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(8, 14, 46, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 146, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1A9FC7;
  text-align:left;
}
#u3960.disabled {
}
#u3960_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:53px;
  white-space:nowrap;
}
#u3961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
}
#u3961 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:484px;
  width:98px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1A9FC7;
}
#u3961_img.selected {
}
#u3961.selected {
}
#u3961_img.disabled {
}
#u3961.disabled {
}
#u3961_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u3962 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:520px;
  width:751px;
  height:300px;
}
#u3962_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:300px;
  overflow:hidden;
}
#u3963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:40px;
  background:inherit;
  background-color:rgba(8, 14, 46, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3963 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:545px;
  width:735px;
  height:40px;
  opacity:0;
}
#u3963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:40px;
  background:inherit;
  background-color:rgba(8, 14, 46, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3964 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:595px;
  width:735px;
  height:40px;
  opacity:0;
}
#u3964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:28px;
  background:inherit;
  background-color:rgba(8, 14, 45, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#29B5E4;
  text-align:left;
}
#u3965 {
  border-width:0px;
  position:absolute;
  left:1630px;
  top:557px;
  width:47px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#29B5E4;
  text-align:left;
}
#u3965_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:43px;
  word-wrap:break-word;
}
#u3966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:28px;
  background:inherit;
  background-color:rgba(8, 14, 45, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#29B5E4;
  text-align:left;
}
#u3966 {
  border-width:0px;
  position:absolute;
  left:1630px;
  top:607px;
  width:47px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#29B5E4;
  text-align:left;
}
#u3966_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:43px;
  word-wrap:break-word;
}
#u3968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u3969 {
  border-width:0px;
  position:absolute;
  left:1183px;
  top:189px;
  width:100px;
  height:100px;
  opacity:0.4;
}
#u3969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u3970 {
  border-width:0px;
  position:absolute;
  left:1193px;
  top:199px;
  width:80px;
  height:80px;
  opacity:0.6;
}
#u3970_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u3971 {
  border-width:0px;
  position:absolute;
  left:1203px;
  top:209px;
  width:60px;
  height:60px;
  opacity:0.8;
}
#u3971_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3972 {
  border-width:0px;
  position:absolute;
  left:1213px;
  top:219px;
  width:40px;
  height:40px;
}
#u3972_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3973 {
  position:absolute;
  left:1232px;
  top:249px;
}
#u3973_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  background-image:none;
}
#u3973_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3973_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u3973_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3973_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u3973_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3973_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u3973_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3973_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u3973_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3973_state5 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u3973_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3973_state6 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u3973_state6_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3973_state7 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u3973_state7_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u3976 {
  border-width:0px;
  position:absolute;
  left:1333px;
  top:181px;
  width:100px;
  height:100px;
  opacity:0.4;
}
#u3976_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u3977 {
  border-width:0px;
  position:absolute;
  left:1343px;
  top:191px;
  width:80px;
  height:80px;
  opacity:0.6;
}
#u3977_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u3978 {
  border-width:0px;
  position:absolute;
  left:1353px;
  top:201px;
  width:60px;
  height:60px;
  opacity:0.8;
}
#u3978_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3979 {
  border-width:0px;
  position:absolute;
  left:1363px;
  top:211px;
  width:40px;
  height:40px;
}
#u3979_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3980 {
  position:absolute;
  left:1382px;
  top:241px;
}
#u3980_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  background-image:none;
}
#u3980_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3980_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u3980_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3980_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u3980_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3980_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u3980_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3980_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u3980_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3980_state5 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u3980_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3980_state6 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u3980_state6_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3980_state7 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u3980_state7_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u3983 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:181px;
  width:100px;
  height:100px;
  opacity:0.4;
}
#u3983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u3984 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:191px;
  width:80px;
  height:80px;
  opacity:0.6;
}
#u3984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:201px;
  width:60px;
  height:60px;
  opacity:0.8;
}
#u3985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:211px;
  width:40px;
  height:40px;
}
#u3986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3987 {
  position:absolute;
  left:455px;
  top:241px;
}
#u3987_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  background-image:none;
}
#u3987_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3987_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u3987_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3987_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u3987_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3987_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u3987_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3987_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u3987_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3987_state5 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u3987_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3987_state6 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u3987_state6_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3987_state7 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u3987_state7_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:219px;
  width:100px;
  height:100px;
  opacity:0.4;
}
#u3990_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:229px;
  width:80px;
  height:80px;
  opacity:0.6;
}
#u3991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:239px;
  width:60px;
  height:60px;
  opacity:0.8;
}
#u3992_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:249px;
  width:40px;
  height:40px;
}
#u3993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3994 {
  position:absolute;
  left:751px;
  top:279px;
}
#u3994_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  background-image:none;
}
#u3994_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3994_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u3994_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3994_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u3994_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3994_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u3994_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3994_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u3994_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3994_state5 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u3994_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3994_state6 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u3994_state6_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3994_state7 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u3994_state7_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:39px;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:213px;
  width:37px;
  height:39px;
}
#u3996_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:39px;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:213px;
  width:37px;
  height:39px;
}
#u3997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:39px;
}
#u3999 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:250px;
  width:37px;
  height:39px;
}
#u3999_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:39px;
}
#u4000 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:250px;
  width:37px;
  height:39px;
}
#u4000_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:39px;
}
#u4002 {
  border-width:0px;
  position:absolute;
  left:1213px;
  top:220px;
  width:37px;
  height:39px;
}
#u4002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:39px;
}
#u4003 {
  border-width:0px;
  position:absolute;
  left:1213px;
  top:220px;
  width:37px;
  height:39px;
}
#u4003_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:39px;
}
#u4005 {
  border-width:0px;
  position:absolute;
  left:1363px;
  top:212px;
  width:37px;
  height:39px;
}
#u4005_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:39px;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:1363px;
  top:212px;
  width:37px;
  height:39px;
}
#u4006_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
