body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:766px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:298px;
}
#u6380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:298px;
}
#u6380_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(8, 14, 45, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6381 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:0px;
  width:77px;
  height:20px;
}
#u6381_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:27px;
  background:inherit;
  background-color:rgba(47, 192, 173, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6382 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:154px;
  width:132px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6382_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:128px;
  word-wrap:break-word;
}
